---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a8608e3a5307
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 1ff91cca787820b1
      Ot-Tracer-Traceid:
      - 45ff116b3f577c98
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700207'
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"2021-09-03T07:07:20.288Z","email":"rubytest-210903-username-1@auth0.com","email_verified":false,"identities":[{"user_id":"6131c9a8460fa0006a17e4b8","provider":"auth0","connection":"Username-Password-Authentication","isSocial":false}],"name":"rubytest-210903-username-1@auth0.com","nickname":"rubytest-210903-username-1","picture":"https://s.gravatar.com/avatar/fdd07a60850553d36e9a6360bea6fe72?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fru.png","updated_at":"2021-09-03T07:08:20.562Z","user_id":"auth0|6131c9a8460fa0006a17e4b8","last_login":"2021-09-03T07:08:20.562Z","last_ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","logins_count":3},{"email":"test-ro-login@auth0.com","email_verified":false,"updated_at":"2019-06-28T19:01:41.270Z","picture":"https://s.gravatar.com/avatar/bb7512278de17e1d813d3e8155d75fef?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","user_id":"auth0|5bc7713e30533f47d4764a99","nickname":"test-ro-login","identities":[{"user_id":"5bc7713e30533f47d4764a99","provider":"auth0","connection":"Username-Password-Authentication","isSocial":false}],"created_at":"2018-10-17T17:28:30.976Z","name":"test-ro-login@auth0.com","multifactor_last_modified":"2019-06-28T19:01:41.270Z","last_login":"2018-10-17T17:28:52.681Z","last_ip":"71.212.126.28","logins_count":1},{"created_at":"2021-09-03T20:16:45.624Z","email":"rubytest-210908-rubytest-210908-username-secondary@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"613282ad45244d0069782b56","provider":"auth0","isSocial":false}],"name":"rubytest-210908-username-secondary","nickname":"rubytest-210908-rubytest-210908-username-secondary","picture[...]
