---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"rubytest-210908-username-for-roles","email":"rubytest-210908-rubytest-210908-username-for-roles@auth0.com","password":"7F3yEtPc","connection":"Username-Password-Authentication"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a81f1cfd3197
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 70a48a35280ea33c
      Ot-Tracer-Traceid:
      - 5171477c3ad8e54d
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700196'
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-09-03T20:16:35.900Z","email":"rubytest-210908-rubytest-210908-username-for-roles@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"613282a3c2d480007114acbb","provider":"auth0","isSocial":false}],"name":"rubytest-210908-username-for-roles","nickname":"rubytest-210908-rubytest-210908-username-for-roles","picture":"https://s.gravatar.com/avatar/b3dbe5ced2cdf6ecb535701bd8245fa4?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fru.png","updated_at":"2021-09-03T20:16:35.900Z","user_id":"auth0|613282a3c2d480007114acbb"}'
  recorded_at: Fri, 03 Sep 2021 20:16:35 GMT
recorded_with: VCR 6.0.0
