<footer class="site-footer">
  <div class="container">
    <div class="logo">
      <img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.png" width="30">
    </div>
    <div class="footer-grid">
      <div class="column">
        <div class="item">
          <h6>Product</h6>
        </div>
        <div class="item">
          <a href="https://auth0.com/pricing">Pricing</a>
        </div>
        <div class="item">
          <a href="https://auth0.com/why-auth0">Why Auth0</a>
        </div>
        <div class="item">
          <a href="https://auth0.com/how-it-works">How It Works</a>
        </div>
      </div>
      <div class="column">
        <div class="item">
          <h6>Company</h6>
        </div>
        <div class="item">
          <a href="https://auth0.com/about">About Us</a>
        </div>
        <div class="item">
          <a href="https://auth0.com/blog">Blog</a>
        </div>
        <div class="item">
          <a href="https://auth0.com/jobs">Jobs</a>
        </div>
      </div>
      <div class="column">
        <div class="item"><h6>Security</h6></div>
        <div class="item">
          <a href="https://auth0.com/availability-trust">Availability &amp; Trust</a>
        </div>
        <div class="item">
          <a href="https://auth0.com/security">Security</a>
        </div>
        <div class="item">
          <a href="https://auth0.com/whitehat">White Hat</a>
        </div>
      </div>
      <div class="column">
        <div class="item">
          <h6>Learn</h6>
        </div>
        <div class="item">
          <a href="https://auth0.com/support">Help &amp; Support</a>
        </div>
        <div class="item">
          <a href="https://auth0.com/docs">Documentation</a>
        </div>
        <div class="item">
          <a href="https://auth0.com/opensource">Open Source</a>
        </div>
      </div>
      <div class="column">
        <div class="item">
          <h6>Extend</h6>
        </div>
        <div class="item">
          <a href="https://auth0.com/lock">Lock</a>
        </div>
        <div class="item">
          <a href="https://auth0.com/wordpress">WordPress</a>
        </div>
        <div class="item">
          <a href="https://auth0.com/docs/apiv2">API Explorer</a>
        </div>
      </div>
      <div class="contact">
        <div class="column">
          <div class="item">
            <h6>Contact</h6>
          </div>
          <div class="item">
            <a href="mailto:support@auth0.com">Email Us</a>
          </div>
          <div class="item item-text">10900 NE 8th St.<br>Suite 700<br>Bellevue, WA   98004</div>
        </div>
          <div class="column no-heading">
            <div class="item item-phone-label">Sales</div>
            <div class="item"><a href="tel:+18882352699">+1 (888) 235-2699</a>
              <a href="tel:+14253126521">+1 (425) 312-6521</a>
            </div>
            <div class="item item-phone-label">Support</div>
            <div class="item"><a href="tel:+14255599554">+1 (425) 559-9554</a></div>
          </div>
        </div>
      </div>
      <div class="colophon">
        <div class="column">
          <div class="social">
            <div class="twitter">
              <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/follow_button.html?screen_name=auth0" class="twitter"></iframe>
            </div>
            <div class="facebook">
              <iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fgetauth0&width&layout=button_count&action=like&show_faces=false&show_count=false&share=false&height=21&appId=507756515938786" scrolling="no" frameborder="0" allowtransparency="true" class="facebook"></iframe>
            </div>
          </div>
        </div>
        <div class="column">
          <ul class="list-inline text-right">
            <li><a href="https://auth0.com/privacy">Privacy Policy</a></li>
            <li><a href="https://auth0.com/terms">Terms of Service</a></li>
            <li><span>© 2013-2016 Auth0 Inc. All Rights Reserved.</span></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
