---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"rubytest-210908-username","email":"rubytest-210908-rubytest-210908-username@auth0.com","password":"LyL8kDxMsKa","connection":"Username-Password-Authentication"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a853f98e52e3
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 6fe35949357c8c6e
      Ot-Tracer-Traceid:
      - 5e6c9da96da0fdc5
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700205'
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-09-03T20:16:44.319Z","email":"rubytest-210908-rubytest-210908-username@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"613282ac6c364200701fbc1d","provider":"auth0","isSocial":false}],"name":"rubytest-210908-username","nickname":"rubytest-210908-rubytest-210908-username","picture":"https://s.gravatar.com/avatar/28607929c5bdf4954ee65d055fea6e69?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fru.png","updated_at":"2021-09-03T20:16:44.319Z","user_id":"auth0|613282ac6c364200701fbc1d"}'
  recorded_at: Fri, 03 Sep 2021 20:16:44 GMT
recorded_with: VCR 6.0.0
