---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/jobs/users-imports
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryb2s2muj5N8zFyPec\r\nContent-Disposition: form-data;
        name=\"users\"; filename=\"api-jobs-spec-import-users.json\"\r\nContent-Type:
        application/json\r\n\r\n[{\"email\":\"rubytest-210908marleen_hagenes@example.net\",\"email_verified\":false,\"app_metadata\":{\"roles\":[\"admin\"]},\"user_metadata\":{\"theme\":\"light\"}}]\r\n------RubyFormBoundaryb2s2muj5N8zFyPec\r\nContent-Disposition:
        form-data; name=\"connection_id\"\r\n\r\ncon_Xx4Kruoab04wvlYX\r\n------RubyFormBoundaryb2s2muj5N8zFyPec\r\nContent-Disposition:
        form-data; name=\"upsert\"\r\n\r\nfalse\r\n------RubyFormBoundaryb2s2muj5N8zFyPec\r\nContent-Disposition:
        form-data; name=\"send_completion_email\"\r\n\r\ntrue\r\n------RubyFormBoundaryb2s2muj5N8zFyPec--\r\n"
    headers:
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryb2s2muj5N8zFyPec
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7e9eb020d18
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 49d2a26a231bf5cd
      Ot-Tracer-Traceid:
      - 0e711a6273fc84c7
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700188'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"users_import","status":"pending","connection_id":"con_Xx4Kruoab04wvlYX","connection":"Username-Password-Authentication","created_at":"2021-09-03T20:16:27.536Z","id":"job_DuJkprUPj67PfRuy"}'
  recorded_at: Fri, 03 Sep 2021 20:16:27 GMT
recorded_with: VCR 6.0.0
