---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/jobs/users-imports
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryRinX9Tc3DJx0BvrR\r\nContent-Disposition: form-data;
        name=\"users\"; filename=\"api-jobs-spec-import-users.json\"\r\nContent-Type:
        application/json\r\n\r\n[{\"email\":\"rubytest-210908aaron_spencer@example.org\",\"email_verified\":false,\"app_metadata\":{\"roles\":[\"admin\"]},\"user_metadata\":{\"theme\":\"light\"}}]\r\n------RubyFormBoundaryRinX9Tc3DJx0BvrR\r\nContent-Disposition:
        form-data; name=\"connection_id\"\r\n\r\ncon_Xx4Kruoab04wvlYX\r\n------RubyFormBoundaryRinX9Tc3DJx0BvrR\r\nContent-Disposition:
        form-data; name=\"upsert\"\r\n\r\nfalse\r\n------RubyFormBoundaryRinX9Tc3DJx0BvrR\r\nContent-Disposition:
        form-data; name=\"send_completion_email\"\r\n\r\ntrue\r\n------RubyFormBoundaryRinX9Tc3DJx0BvrR--\r\n"
    headers:
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryRinX9Tc3DJx0BvrR
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7ecf89831a3
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 3392fbad3580d8ac
      Ot-Tracer-Traceid:
      - 49c913065379189b
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700188'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"users_import","status":"pending","connection_id":"con_Xx4Kruoab04wvlYX","connection":"Username-Password-Authentication","created_at":"2021-09-03T20:16:27.983Z","id":"job_lbD9RDHKSArypJYT"}'
  recorded_at: Fri, 03 Sep 2021 20:16:27 GMT
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/jobs/job_lbD9RDHKSArypJYT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7efaa025337
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 153ff79a78486790
      Ot-Tracer-Traceid:
      - 7247d7fb55c0ed2f
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700189'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"users_import","status":"pending","connection_id":"con_Xx4Kruoab04wvlYX","connection":"Username-Password-Authentication","created_at":"2021-09-03T20:16:27.983Z","id":"job_lbD9RDHKSArypJYT"}'
  recorded_at: Fri, 03 Sep 2021 20:16:28 GMT
recorded_with: VCR 6.0.0
