---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/dbconnections/change_password
    body:
      encoding: UTF-8
      string: '{"email":"rubytest-210908-username-1@auth0.com","password":"","connection":"Username-Password-Authentication","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"34-isurgRF3drpbztqj/kuLX3wcQN4"
      Ot-Baggage-Auth0-Request-Id:
      - 6891a783fa1aeb79
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 73ed236e3e952604
      Ot-Tracer-Traceid:
      - 75dde96b4f4143d1
      X-Auth0-Requestid:
      - 46bd91e5c530f4b3a9f7
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1630700231'
    body:
      encoding: ASCII-8BIT
      string: We've just sent you an email to reset your password.
  recorded_at: Fri, 03 Sep 2021 20:16:10 GMT
recorded_with: VCR 6.0.0
