---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users/auth0%7C613282adac819400692c0dd9/logs?per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://auth0-sdk-tests.auth0.com/api/v2/users/auth0%7C613282adac819400692c0dd9/logs?per_page=2&page=0>;
        rel="first", <http://auth0-sdk-tests.auth0.com/api/v2/users/auth0%7C613282adac819400692c0dd9/logs?per_page=2&page=0>;
        rel="last"
      Ot-Baggage-Auth0-Request-Id:
      - 6891a87618955233
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 30c4ee477f56756b
      Ot-Tracer-Traceid:
      - 16a54bee05ba63a2
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700210'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2021-09-03T20:16:45.272Z","type":"ss","description":"","connection":"Username-Password-Authentication","connection_id":"con_Xx4Kruoab04wvlYX","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"Ruby
        SDK Integration Tests - DO NOT DELETE","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":{"body":{"client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","tenant":"auth0-sdk-tests","name":"rubytest-210908-username","email":"rubytest-210908-rubytest-210908-username@auth0.com","password":"*****","connection":"Username-Password-Authentication"}},"user_id":"auth0|613282adac819400692c0dd9","user_name":"rubytest-210908-rubytest-210908-username@auth0.com","strategy":"auth0","strategy_type":"database","log_id":"90020210903201649024782996693783848742043710581901361218","_id":"90020210903201649024782996693783848742043710581901361218","isMobile":false,"location_info":{"country_code":"US","country_code3":"USA","country_name":"United
        States","city_name":"Bakersfield","latitude":35.3407,"longitude":-119.0596,"time_zone":"America/Los_Angeles","continent_code":"NA"}}]'
  recorded_at: Fri, 03 Sep 2021 20:16:49 GMT
recorded_with: VCR 6.0.0
