bin/
!examples/ruby-on-rails-api/bin/
vendor/
doc/
.DS_Store
.ruby-version
coverage
*.gem
.ruby-gemset
*.swp
*.swo
spec/auth0.yml
.env
/.yardoc/checksums
/.yardoc/complete
/.yardoc/object_types
/.yardoc/objects/root.dat
/.yardoc/proxy_types
