---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/stats/daily?from=20170101&to=20180101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a84c1d4342b1
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 3e52c6e632a29958
      Ot-Tracer-Traceid:
      - 1372afa65f748daa
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700204'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2017-12-05T00:00:00.000Z","logins":0,"signups":523,"leaked_passwords":0},{"date":"2017-12-06T00:00:00.000Z","logins":0,"signups":534,"leaked_passwords":0},{"date":"2017-12-07T00:00:00.000Z","logins":0,"signups":690,"leaked_passwords":0},{"date":"2017-12-08T00:00:00.000Z","logins":0,"signups":594,"leaked_passwords":0},{"date":"2017-12-11T00:00:00.000Z","logins":0,"signups":519,"leaked_passwords":0},{"date":"2017-12-12T00:00:00.000Z","logins":0,"signups":78,"leaked_passwords":0},{"date":"2017-12-13T00:00:00.000Z","logins":0,"signups":205,"leaked_passwords":0},{"date":"2017-12-14T00:00:00.000Z","logins":0,"signups":186,"leaked_passwords":0},{"date":"2017-12-15T00:00:00.000Z","logins":0,"signups":489,"leaked_passwords":0},{"date":"2017-12-18T00:00:00.000Z","logins":0,"signups":1033,"leaked_passwords":0},{"date":"2017-12-19T00:00:00.000Z","logins":0,"signups":1403,"leaked_passwords":0},{"date":"2017-12-20T00:00:00.000Z","logins":0,"signups":1568,"leaked_passwords":0},{"date":"2017-12-21T00:00:00.000Z","logins":0,"signups":1078,"leaked_passwords":0},{"date":"2017-12-22T00:00:00.000Z","logins":0,"signups":98,"leaked_passwords":0},{"date":"2017-12-26T00:00:00.000Z","logins":0,"signups":270,"leaked_passwords":0}]'
  recorded_at: Fri, 03 Sep 2021 20:16:43 GMT
recorded_with: VCR 6.0.0
