---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"username":"rubytest-username-1@auth0.com","password":"23kejn2jk3en2jke2jk3be2jk3ber","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_secret":"CLIENT_SECRET","scope":"test:scope","audience":"https://brucke.club/invalid/api/v1/","grant_type":"password"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI0LjUuMCJ9
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Auth0-Requestid:
      - f9b90852e88c5d268b1e
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '82'
      X-Ratelimit-Reset:
      - '1539230709'
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"invalid audience specified
        for password grant exchange"}'
  recorded_at: Wed, 10 Oct 2018 23:52:29 GMT
recorded_with: VCR 4.0.0
