---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users/auth0%7C613282adac819400692c0dd9?fields=picture,email,user_id&include_fields=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a86dcf6452ad
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 0eb6b255441a5e88
      Ot-Tracer-Traceid:
      - 2d106eb5092b7276
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700209'
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-09-03T20:16:45.288Z","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"613282adac819400692c0dd9","provider":"auth0","isSocial":false}],"name":"rubytest-210908-username","nickname":"rubytest-210908-rubytest-210908-username","updated_at":"2021-09-03T20:16:45.288Z"}'
  recorded_at: Fri, 03 Sep 2021 20:16:48 GMT
recorded_with: VCR 6.0.0
