---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/tickets/password-change
    body:
      encoding: UTF-8
      string: '{"result_url":"https://auth0.com/callback","user_id":"auth0|613282ac6c364200701fbc1d","new_password":"secret"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a856ef80c3c4
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 72d63c825f77a605
      Ot-Tracer-Traceid:
      - 1fc630ed2c7ed533
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700205'
    body:
      encoding: ASCII-8BIT
      string: '{"ticket":"https://auth0-sdk-tests.auth0.com/lo/reset?ticket=0GyVA2AJbht9i5LHFSLEJX5cIyfljck0#"}'
  recorded_at: Fri, 03 Sep 2021 20:16:44 GMT
recorded_with: VCR 6.0.0
