---
http_interactions:
- request:
    method: patch
    uri: https://auth0-sdk-tests.auth0.com/api/v2/tenants/settings?fields=support_email&include_fields=true
    body:
      encoding: UTF-8
      string: '{"friendly_name":"Auth0-CHANGED"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a8514db60d54
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 605d99756ff314bc
      Ot-Tracer-Traceid:
      - 757c56c051d538e9
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700204'
    body:
      encoding: ASCII-8BIT
      string: '{"change_password":{"enabled":true,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n  <title>Change
        your password</title>\n  <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n\n  <style type=\"text/css\">\n    body,html{padding:0;margin:0}.table{display:table;position:absolute;height:100%;width:100%;background:linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,0));background-color:#e8ebef}.cell{display:table-cell;vertical-align:middle}.content{padding:25px
        0;margin-left:auto;margin-right:auto;width:280px}\n  </style>\n\n\n</head>\n<body>\n  <div
        class=\"table\">\n    <div class=\"cell\">\n      <div class=\"content\">\n        <!--
        WIDGET -->\n        <div id=\"change-password-widget-container\"></div>\n        <!--
        END WIDGET -->\n      </div>\n    </div>\n  </div>\n\n  <script src=\"https://cdn.auth0.com/js/change-password-1.1.min.js\"></script>\n\n  <script>\n    new
        Auth0ChangePassword({\n      container:         \"change-password-widget-container\",     //
        required\n      email:             \"{{email}}\",                            //
        DO NOT CHANGE THIS\n      csrf_token:        ''{{csrf_token}}'',                       //
        DO NOT CHANGE THIS\n      ticket:            ''{{ticket}}'',                           //
        DO NOT CHANGE THIS\n      password_policy:   ''{{password_policy}}'',                  //
        DO NOT CHANGE THIS\n      theme: {\n        icon: \"{{tenant.picture_url |
        default: ''//cdn.auth0.com/styleguide/1.0.0/img/badge.png''}}\",\n        primaryColor:
        \"#ea5323\"\n      },\n      dict: {\n        // passwordPlaceholder: \"your
        new password\",\n        // passwordConfirmationPlaceholder: \"confirm your
        new password\",\n        // passwordConfirmationMatchError: \"Please ensure
        the password and the confirmation are the same.\",\n        // passwordStrength:
        {\n        //   containsAtLeast: \"Contain at least %d of the following %d
        types of characters:\",\n        //   identicalChars: \"No more than %d identical
        characters in a row (e.g., \\\"%s\\\" not allowed)\",\n        //   nonEmpty:
        \"Non-empty password required\",\n        //   numbers: \"Numbers (i.e. 0-9)\",\n        //   lengthAtLeast:
        \"At least %d characters in length\",\n        //   lowerCase: \"Lower case
        letters (a-z)\",\n        //   shouldContain: \"Should contain:\",\n        //   specialCharacters:
        \"Special characters (e.g. !@#$%^&*)\",\n        //   upperCase: \"Upper case
        letters (A-Z)\"\n        // },\n        // successMessage: \"Your password
        has been reset successfully.\",\n        // configurationError: \"An error
        ocurred. There appears to be a misconfiguration in the form.\",\n        //
        networkError: \"The server cannot be reached, there is a problem with the
        network.\",\n        // timeoutError: \"The server cannot be reached, please
        try again.\",\n        // serverError: \"There was an error processing the
        password reset.\",\n        // headerText: \"Enter a new password for<br />{email}\",\n        //
        title: \"Change Password\",\n        // weakPasswordError: \"Password is too
        weak.\"\n        // passwordHistoryError: \"Password has previously been used.\"\n      }\n    });\n  </script>\n</body>\n</html>\n"},"default_audience":"","default_directory":"Username-Password-Authentication","enabled_locales":["en"],"error_page":{"html":"","show_log_link":false,"url":""},"flags":{"allow_changing_enable_sso":true,"allow_legacy_tokeninfo_endpoint":true,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_idtoken_api2":true,"enable_legacy_profile":true,"enable_public_signup_user_exists_error":true,"enable_sso":false,"enforce_client_authentication_on_passwordless_start":true,"disable_clickjack_protection_headers":true,"include_email_in_reset_pwd_redirect":true,"include_email_in_verify_email_redirect":true},"friendly_name":"Auth0-CHANGED","picture_url":"https://cdn.auth0.com/website/assets/pages/press/img/resources/auth0-glyph-109d4c73c4.svg","sandbox_version":"8","support_email":"support@auth0.org","support_url":"https://support.auth0.com"}'
  recorded_at: Fri, 03 Sep 2021 20:16:43 GMT
recorded_with: VCR 6.0.0
