---
http_interactions:
- request:
    method: patch
    uri: https://auth0-sdk-tests.auth0.com/api/v2/emails/provider?fields=enabled&include_fields=false
    body:
      encoding: UTF-8
      string: '{"name":"sendgrid","settings":{"first_up_setting":"first_up_setting_set","second_up_setting":"second_up_setting_set","first_setting":"first_setting_set","second_setting":"second_setting_set"},"credentials":{"api_key":"api_key"}}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7dcaab70d20
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 1b912cb26a9fbcbf
      Ot-Tracer-Traceid:
      - 53c9f71e1112eceb
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":404,"error":"Not Found","message":"There is not a configured
        email provider","errorCode":"inexistent_email_provider"}'
  recorded_at: Fri, 03 Sep 2021 20:16:25 GMT
recorded_with: VCR 6.0.0
