---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"username":"rubytest-210908-username-1@auth0.com_invalid","password":"23kejn2jk3en2jke2jk3be2jk3ber","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_secret":"CLIENT_SECRET","scope":"openid","grant_type":"password"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 6891a78eaa9d04b4
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 238a8dd0640d43a0
      Ot-Tracer-Traceid:
      - 431cac8f77136f2c
      X-Auth0-Requestid:
      - b0a5dc12c514c43e1e72
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '1630702765'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"invalid_grant","error_description":"Wrong email or password."}'
  recorded_at: Fri, 03 Sep 2021 20:16:12 GMT
recorded_with: VCR 6.0.0
