---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"username":"rubytest-210908-username-1@auth0.com","password":"23kejn2jk3en2jke2jk3be2jk3ber","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_secret":"CLIENT_SECRET","scope":"test:scope","audience":"https://brucke.club/invalid/api/v1/","grant_type":"password"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 6891a794fdc45251
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 544dccce2b60c403
      Ot-Tracer-Traceid:
      - 4de0c0937ff7c4ed
      X-Auth0-Requestid:
      - 25d6b1d98c7216c1d4ec
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '1630704494'
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"invalid audience specified
        for password grant exchange"}'
  recorded_at: Fri, 03 Sep 2021 20:16:13 GMT
recorded_with: VCR 6.0.0
