---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"username":"rubytest-210908-username-1@auth0.com","password":"23kejn2jk3en2jke2jk3be2jk3ber_invalid","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_secret":"CLIENT_SECRET","scope":"openid","grant_type":"password"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7909a3d0530
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 16bebfba4e1fa102
      Ot-Tracer-Traceid:
      - 13743fb227610c73
      X-Auth0-Requestid:
      - 6cf36d3579971bd6c4b9
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '1630703629'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"invalid_grant","error_description":"Wrong email or password."}'
  recorded_at: Fri, 03 Sep 2021 20:16:13 GMT
recorded_with: VCR 6.0.0
