version: 2.1
orbs:
  ship: auth0/ship@dev:alpha
  codecov: codecov/codecov@3.1.1

matrix_ruby_versions: &matrix_ruby_versions
  matrix:
    parameters:
      ruby_version: ["2.5", "2.6", "2.7", "3.0"]
# Default version of ruby to use for lint and publishing
default_ruby_version: &default_ruby_version "2.7"

executors:
  ruby-image:
    parameters:
      ruby_version:
        type: string
        default: *default_ruby_version
    docker:
      - image: cimg/ruby:<< parameters.ruby_version >>

jobs:
  run-tests:
    parameters:
      ruby_version:
        type: string
        default: *default_ruby_version
    executor:
      name: ruby-image
      ruby_version: << parameters.ruby_version >>
    steps:
      - checkout
      - run: gem install bundler:1.17.2
      - run: rm Gemfile.lock
      - restore_cache:
          key: gems-v2-{{ checksum "Gemfile.lock" }}
      - run: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle
      - save_cache:
          key: gems-v2-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      # Must define DOMAIN, CLIENT_ID, CLIENT_SECRET and MASTER_JWT env
      - run: bundle exec rake test
      - codecov/upload

workflows:
  tests:
    jobs:
      - run-tests:
          <<: *matrix_ruby_versions
      - ship/ruby-publish:
          context:
            - publish-rubygems
            - publish-gh
          filters:
            branches:
              only:
                - master
          requires:
            - run-tests
