---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/clients/SftKo9ySyHnMPezQUFd0C70GBoNFM21F?fields=name,client_secret,jwt_configuration&include_fields=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7b71e590c9b
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 4fcfd0525265fff4
      Ot-Tracer-Traceid:
      - 7cc24b861b3c2fb8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700180'
    body:
      encoding: ASCII-8BIT
      string: '{"tenant":"auth0-sdk-tests","name":"TestClient-rubytest-210908","client_secret":"kJKYl705CStDbaeiBd9WgZafioFcbFNg0i4Ta7nakxxdGLUIdZvuRUXoY3MOe9xz","jwt_configuration":{"lifetime_in_seconds":36000,"secret_encoded":false}}'
  recorded_at: Fri, 03 Sep 2021 20:16:19 GMT
recorded_with: VCR 6.0.0
