---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/client-grants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://auth0-sdk-tests.auth0.com/api/v2/client-grants?page=0&per_page=50>;
        rel="first", <http://auth0-sdk-tests.auth0.com/api/v2/client-grants?page=0&per_page=50>;
        rel="last"
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7a3ecb0eb9d
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 53af561e521baf8d
      Ot-Tracer-Traceid:
      - 6644bba93bb63e9c
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700177'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"cgr_1ZBeiylBn38cTQ1j","client_id":"kyzr677IlmSJ5CZqcVKpGo87qHJZlLw9","audience":"TEST_PHP_SDK_CLIENT_GRANT_API_5d2d0c6c38056","scope":["test:scope1","test:scope2"]},{"id":"cgr_1vESQ3QlIH8SRN4m","client_id":"kyzr677IlmSJ5CZqcVKpGo87qHJZlLw9","audience":"TEST_PHP_SDK_CLIENT_GRANT_API_5d851b55b30cd","scope":["test:scope1","test:scope2"]},{"id":"cgr_53mirnr9BAqb7wSc","client_id":"kyzr677IlmSJ5CZqcVKpGo87qHJZlLw9","audience":"TEST_PHP_SDK_CLIENT_GRANT_API_5d2d0c6c9a3b8","scope":["test:scope1"]},{"id":"cgr_6F9wUo4y2E1NKDY6","client_id":"kyzr677IlmSJ5CZqcVKpGo87qHJZlLw9","audience":"TEST_PHP_SDK_CLIENT_GRANT_API_5d2d0cad31d45","scope[...]
