---
http_interactions:
- request:
    method: patch
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users/auth0%7C613282adac819400692c0dd9
    body:
      encoding: UTF-8
      string: '{"email_verified":true,"user_metadata":{"addresses":{"home_address":"742
        Evergreen Terrace"}}}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a8707eed31a3
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - '0293209b7d397631'
      Ot-Tracer-Traceid:
      - 289e6802678bf46e
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700209'
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-09-03T20:16:45.288Z","email":"rubytest-210908-rubytest-210908-username@auth0.com","email_verified":true,"identities":[{"connection":"Username-Password-Authentication","user_id":"613282adac819400692c0dd9","provider":"auth0","isSocial":false}],"name":"rubytest-210908-username","nickname":"rubytest-210908-rubytest-210908-username","picture":"https://s.gravatar.com/avatar/28607929c5bdf4954ee65d055fea6e69?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fru.png","updated_at":"2021-09-03T20:16:48.864Z","user_id":"auth0|613282adac819400692c0dd9","user_metadata":{"addresses":{"home_address":"742
        Evergreen Terrace"}}}'
  recorded_at: Fri, 03 Sep 2021 20:16:48 GMT
recorded_with: VCR 6.0.0
