---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/connections?fields=name&include_fields=false&strategy=auth0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://auth0-sdk-tests.auth0.com/api/v2/connections?strategy=auth0&fields=name&include_fields=false&page=0&per_page=50>;
        rel="first", <http://auth0-sdk-tests.auth0.com/api/v2/connections?strategy=auth0&fields=name&include_fields=false&page=0&per_page=50>;
        rel="last"
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7c9191842de
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 0004c226231c497e
      Ot-Tracer-Traceid:
      - 709fc3ee6395fc0f
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700183'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"con_Mlm3MxOR5utX1WSv","options":{"mfa":{"active":true,"return_enroll_settings":true},"disable_signup":false,"passwordPolicy":"good","strategy_version":2,"requires_username":false,"brute_force_protection":true},"strategy":"auth0","is_domain_connection":false,"realms":["Test"],"enabled_clients":[]},{"id":"con_WltM0fv20JCnxOuY","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","is_domain_connection":false,"realms":["TestConnection-rubytest-210908"],"enabled_clients":[]},{"id":"con_Xx4Kruoab04wvlYX","options":{"mfa":{"active":true,"return_enroll_settings":true},"strategy_version":2,"brute_force_protection":true},"strategy":"auth0","is_domain_connection":false,"realms":["Username-Pa[...]
