---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/resource-servers
    body:
      encoding: UTF-8
      string: '{"name":"rubytest-210908-test-api-for-users","scopes":[{"value":"test:scope"}],"identifier":"rubytest-210908-test-api-for-users"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a85de9eb52b9
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 555d65a5029066b2
      Ot-Tracer-Traceid:
      - 74da0d8b0fd50ee9
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700206'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"613282ad5a606500490b4915","name":"rubytest-210908-test-api-for-users","identifier":"rubytest-210908-test-api-for-users","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"test:scope"}]}'
  recorded_at: Fri, 03 Sep 2021 20:16:45 GMT
recorded_with: VCR 6.0.0
