---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"rubytest-210908-username-secondary","email":"rubytest-210908-rubytest-210908-username-secondary@auth0.com","password":"TeN4eRrIpTy","connection":"Username-Password-Authentication"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a85c1fad0558
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 744357ce378858dc
      Ot-Tracer-Traceid:
      - 4112faca2de9a062
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700206'
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-09-03T20:16:45.624Z","email":"rubytest-210908-rubytest-210908-username-secondary@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"613282ad45244d0069782b56","provider":"auth0","isSocial":false}],"name":"rubytest-210908-username-secondary","nickname":"rubytest-210908-rubytest-210908-username-secondary","picture":"https://s.gravatar.com/avatar/c2a0e9c069b78548d21aefff897d2897?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fru.png","updated_at":"2021-09-03T20:16:45.624Z","user_id":"auth0|613282ad45244d0069782b56"}'
  recorded_at: Fri, 03 Sep 2021 20:16:45 GMT
recorded_with: VCR 6.0.0
