---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://auth0-sdk-tests.auth0.com/api/v2/rules?page=0&per_page=50>; rel="first",
        <http://auth0-sdk-tests.auth0.com/api/v2/rules?page=0&per_page=50>; rel="last"
      Ot-Baggage-Auth0-Request-Id:
      - 6891a837aac342d7
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 1c9dc09c0636c3a2
      Ot-Tracer-Traceid:
      - 65cf4a8f34381559
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700200'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"rul_7MKFToUZ1xB2BvAq","enabled":false,"script":"function (user,
        context, callback) {\n  // TODO: implement your rule\n  callback(null, user,
        context);\n}","name":"Testing Rule - Disabled - DO NOT DELETE","order":1,"stage":"login_success"},{"id":"rul_sxWR96dOYrhtMwhH","enabled":false,"script":"function
        (user, context, cb) { cb(null, user, context); }","name":"test-create-rule-1355015546","order":9,"stage":"login_success"},{"id":"rul_VMW16gL4xzysOhED","enabled":false,"script":"function
        (user, context, cb) { cb(null, user, context); }","name":"test-create-rule-973421001","order":11,"stage":"login_success"},{"id":"rul_VYXGCYcuGK06tKp9","enabled":false,"script":"function
        (user, context, cb) { c[...]
