---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users?q=email:rubytest-210908*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a800bde352e9
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 2aa73d6345bad72b
      Ot-Tracer-Traceid:
      - 60dde38b04365aec
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700191'
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"2021-09-03T20:16:30.504Z","email":"rubytest-210908quintin@example.org","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6132829e9bb72d00708b7db5","provider":"auth0","isSocial":false}],"name":"quintin","nickname":"rubytest-210908quintin","picture":"https://s.gravatar.com/avatar/5d20473f424951be92de8850ff465f1f?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fqu.png","updated_at":"2021-09-03T20:16:30.504Z","user_id":"auth0|6132829e9bb72d00708b7db5"},{"created_at":"2021-09-03T20:16:29.747Z","email":"rubytest-210908herbert@example.net","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6132829d2f7d3d006a216aad","provider":"auth0","isSocial":false}],"name":"herbert","nickname":"rubytest-210908herbert","picture":"https://s.gravatar.com/avatar/cd0b06c3c11c846ad51bc8f7ee15ee70?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fhe.png","updated_at":"2021-09-03T20:16:29.747Z","user_id":"auth0|6132829d2f7d3d006a216aad"},{"created_at":"2021-09-03T20:16:29.160Z","email":"rubytest-210908byron_schaden@example.org","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6132829d7b569700698af981","provider":"auth0","isSocial":false}],"name":"byron.schaden","nickname":"rubytest-210908byron_schaden","picture":"https://s.gravatar.com/avatar/32658f9d62513c10242821f682c242c8?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fby.png","updated_at":"2021-09-03T20:16:29.160Z","user_id":"auth0|6132829d7b569700698af981"},{"email":"rubytest-210908aaron_spencer@example.org","email_verified":false,"user_metadata":{"theme":"light"},"created_at":"2021-09-03T20:16:28.047Z","updated_at":"2021-09-03T20:16:28.047Z","identities":[{"provider":"auth0","connection":"Username-Password-Authentication","isSocial":false,"user_id":"6132829cde90c20019937a21"}],"user_id":"auth0|6132829cde90c20019937a21","name":"rubytest-210908aaron_spencer@example.org","picture":"https://secure.gravatar.com/avatar/c5f74fac7ce98eac0ad11c2a76b5ce4a?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fru.png","nickname":"rubytest-210908aaron_spencer","app_metadata":{"roles":["admin"]}},{"email":"rubytest-210908marleen_hagenes@example.net","email_verified":false,"user_metadata":{"theme":"light"},"created_at":"2021-09-03T20:16:27.622Z","updated_at":"2021-09-03T20:16:27.622Z","identities":[{"provider":"auth0","connection":"Username-Password-Authentication","isSocial":false,"user_id":"6132829b11c9b7001aa8341b"}],"user_id":"auth0|6132829b11c9b7001aa8341b","name":"rubytest-210908marleen_hagenes@example.net","picture":"https://secure.gravatar.com/avatar/54ab4835d808c4b61596ef2363c45543?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fru.png","nickname":"rubytest-210908marleen_hagenes","app_metadata":{"roles":["admin"]}}]'
  recorded_at: Fri, 03 Sep 2021 20:16:30 GMT
- request:
    method: delete
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users/auth0%7C6132829e9bb72d00708b7db5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a801ef61057d
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 56f1a6fd33eaae1b
      Ot-Tracer-Traceid:
      - 4166bbfe69b376fa
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700192'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 03 Sep 2021 20:16:31 GMT
recorded_with: VCR 6.0.0
