---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/connections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://auth0-sdk-tests.auth0.com/api/v2/connections?page=0&per_page=50>;
        rel="first", <http://auth0-sdk-tests.auth0.com/api/v2/connections?page=0&per_page=50>;
        rel="last"
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7e898c00ccb
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 2ac60c1e5d3a3977
      Ot-Tracer-Traceid:
      - 17b6eb4d33f2a4a5
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700188'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"con_rLvSvR44VhsrOo1D","options":{"email":true,"scope":"email,user_birthday,user_website,user_hometown,user_location,user_work_history,user_education_history,user_about_me,user_banana","ads_read":false,"client_id":"1842690432417814","rsvp_event":false,"user_likes":false,"user_posts":false,"read_stream":false,"user_banana":true,"user_events":false,"user_groups":false,"user_photos":false,"user_status":false,"user_videos":false,"manage_pages":false,"read_mailbox":false,"user_friends":false,"user_website":true,"client_secret":"5929c7f62fece2725dd92af45dcfb7d6","publish_pages":false,"publish_video":false,"read_insights":false,"user_about_me":true,"user_birthday":true,"user_hometown":true,"user_location":true,"ads_management":false,"public_profile":false,"pages_messaging":false,"pages_show_list":false,"pages_manage_cta":false,"user_actions-news":false,"user_work_history":true,"user_actions-books":false,"user_actions-music":false,"user_actions-video":false,"user_relationships":false,"user_tagged_places":false,"read_page_mailboxes":false,"user_games_activity":false,"user_managed_groups":false,"manage_notifications":false,"user_actions-fitness":false,"user_education_history":true,"user_religion_politics":false,"read_custom_friendlists":false,"user_relationship_details":false,"pages_messaging_phone_number":false,"pages_messaging_subscriptions":false,"read_audience_network_insights":false},"strategy":"facebook","name":"facebook","is_domain_connection":false,"realms":["facebook"],"enabled_clients":[]},{"id":"con_P9aT06EgvT07eIcW","options":{"email":true,"scope":["email","profile"],"profile":true},"strategy":"google-oauth2","name":"google-oauth2","is_domain_connection":false,"realms":["google-oauth2"],"enabled_clients":["aNG5n4ny57xCrd53MhfwomU85fpsEdyr","2PHoTag6NbnYt3AsBsNxFikZUdIMFk5r","Kp6AEYQvuwFkB2JMAlZbTvsfDPgcf6un","sxByUG46lspLw3w5j7EjZUOix7hC60EG","XKN0TEVg2GZayqspufKTjyubQ9v7TMts","WK5cUC4GcwiEMvoBPD0OEbGgJlelkexK","V92owX4pGOeGC14FT7NUpkHRx0JBZYEw","Obn0UoIOuyht1yKcrFPQlgWygJFlhqGH","zHXTiUnmm3NRQR5HspLv0jZSEeB0tCV2","wZHfhdGPiITmTOiL1ohkoB3zSmucXyVe","K59uHp57aoSfmVCB4h[...]
