---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/dbconnections/signup
    body:
      encoding: UTF-8
      string: '{"email":"rubytest-210908-username-1@auth0.com","password":"23kejn2jk3en2jke2jk3be2jk3ber","connection":"Username-Password-Authentication","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68-P6s284boszZ0JEXSXqoN6Xq3XSE"
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7814f260d3c
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 05e2c0e600c6e89a
      Ot-Tracer-Traceid:
      - 3e94592948180616
      X-Auth0-Requestid:
      - 7697ff952c7488416624
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700172'
    body:
      encoding: ASCII-8BIT
      string: '{"_id":"6132828a407ec6006935a858","email_verified":false,"email":"rubytest-210908-username-1@auth0.com"}'
  recorded_at: Fri, 03 Sep 2021 20:16:10 GMT
recorded_with: VCR 6.0.0
