---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/dbconnections/signup
    body:
      encoding: UTF-8
      string: '{"email":"rubytest-username-1}@auth0.com","password":"Ng8oDgOiLn387a90","connection":"Username-Password-Authentication","client_id":"B4oPHl007Va1GBdZXiSHaECUqVWkd9Xk"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI0LjUuMCJ9
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGc.eyJpc3MiOiJodHRwczovL2F1dGgwLXNkay10ZXN0cy5hdXRoMC5jb20vIiwic3ViIjoiQjRvUEhsMDA3VmExR0JkWlhpU0hhRUNVcVZXa2Q5WGtAY2xpZW50cyIsIm.PxfZjVd4wTb_bFbSTENdTmbj13CDQaPK352w3UNL3i3DnWcVJa6qSiA0hCr_tSU_uC34mHkK52O8tFVeZjxCYSeM9yOZUcKVya5N0I7G90X
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth0-Requestid:
      - d7b9e5b781775101652a
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1538776741'
    body:
      encoding: UTF-8
      string: '{"_id":"5bb7dea35e09334d7789a19d","email_verified":false,"email":"rubytest-username-1}@auth0.com"}'
  recorded_at: Fri, 05 Oct 2018 21:58:59 GMT
recorded_with: VCR 4.0.0
