---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/dbconnections/signup
    body:
      encoding: UTF-8
      string: '{"email":"rubytest-username-1@auth0.com","password":"23kejn2jk3en2jke2jk3be2jk3ber","connection":"Username-Password-Authentication","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI0LjUuMCJ9
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Auth0-Requestid:
      - 5b2ee9fb798c78fbe32e
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1539797947'
    body:
      encoding: UTF-8
      string: '{"_id":"5bc773b930533f47d4764b9c","email_verified":false,"email":"rubytest-username-1@auth0.com"}'
  recorded_at: Wed, 17 Oct 2018 17:39:05 GMT
recorded_with: VCR 4.0.0
