---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users/auth0%7C613282adac819400692c0dd9/identities
    body:
      encoding: UTF-8
      string: '{"provider":"auth0","user_id":"auth0|613282ad45244d0069782b56"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a8735ff1051b
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - '0459048b2393ddc0'
      Ot-Tracer-Traceid:
      - 46ca1fd80756dada
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700210'
    body:
      encoding: ASCII-8BIT
      string: '[{"profileData":{"name":"rubytest-210908-username","email":"rubytest-210908-rubytest-210908-username@auth0.com","email_verified":true},"connection":"Username-Password-Authentication","user_id":"613282adac819400692c0dd9","provider":"auth0","isSocial":false},{"profileData":{"name":"rubytest-210908-username-secondary","email":"rubytest-210908-rubytest-210908-username-secondary@auth0.com","email_verified":false},"connection":"Username-Password-Authentication","user_id":"613282ad45244d0069782b56","provider":"auth0","isSocial":false}]'
  recorded_at: Fri, 03 Sep 2021 20:16:49 GMT
recorded_with: VCR 6.0.0
