---
http_interactions:
- request:
    method: patch
    uri: https://auth0-sdk-tests.auth0.com/api/v2/resource-servers/613282a2cdbe5d00408561ea
    body:
      encoding: UTF-8
      string: '{"token_lifetime":654321}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a81b0d12526f
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 46c09e343cc8141d
      Ot-Tracer-Traceid:
      - 2b36ba4c77a8be98
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700196'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"613282a2cdbe5d00408561ea","name":"TestServer-rubytest-210908","identifier":"https://localhost.test/api/v1/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":654321,"token_lifetime_for_web":7200,"signing_alg":"RS256","signing_secret":"jPd1d0TWbg7pN9iPcXdtYtEIIGAk5zhmCi"}'
  recorded_at: Fri, 03 Sep 2021 20:16:35 GMT
recorded_with: VCR 6.0.0
