---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/logs?fields=date,description,type&include_fields=true&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a806f98b0591
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 0f8a4d9671d6c4ba
      Ot-Tracer-Traceid:
      - 196163d02300567b
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700192'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2021-09-03T20:16:31.489Z","description":"Create a User","type":"sapi","_id":"90020210903201631818782996667425639096985949517551501378"}]'
  recorded_at: Fri, 03 Sep 2021 20:16:31 GMT
recorded_with: VCR 6.0.0
