---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/logs?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a805c9885319
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 0cef33bb2fd5be12
      Ot-Tracer-Traceid:
      - 05b8ad832b4c6961
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700192'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2021-09-03T20:16:29.169Z","type":"sapi","description":"Create
        a User","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":{"request":{"method":"post","path":"/api/v2/users","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{"name":"byron.schaden","email":"rubytest-210908byron_schaden@example.org","connection":"Username-Password-Authentication"},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_app_metadata","create:users_app_metadata","create:user_tickets","read:clients","update:clients","delete:clients","create:clients","read:client_keys","update:client_keys","delete:client_keys","create:client_keys","read:connections","update:connections","delete:connections","create:co[...]
