---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/roles/rol_09CHZmuc9AHc48Ie/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a8299962eb55
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 7e933cb8775eb3a0
      Ot-Tracer-Traceid:
      - 03b8f227268590eb
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700198'
    body:
      encoding: ASCII-8BIT
      string: '[{"user_id":"auth0|613282a3c2d480007114acbb","email":"rubytest-210908-rubytest-210908-username-for-roles@auth0.com","picture":"https://s.gravatar.com/avatar/b3dbe5ced2cdf6ecb535701bd8245fa4?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fru.png","name":"rubytest-210908-username-for-roles"}]'
  recorded_at: Fri, 03 Sep 2021 20:16:37 GMT
recorded_with: VCR 6.0.0
