---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a80b5ba20cb3
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 481d7e39241be7ea
      Ot-Tracer-Traceid:
      - 327c38776694ca96
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700193'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2021-09-03T20:16:31.489Z","type":"sapi","description":"Create
        a User","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":{"request":{"method":"post","path":"/api/v2/users","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{"name":"rubytest-210908-username","email":"rubytest-210908-rubytest-210908-username@auth0.com","connection":"Username-Password-Authentication"},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_app_metadata","create:users_app_metadata","create:user_tickets","read:clients","update:clients","delete:clients","create:clients","read:client_keys","update:client_keys","delete:client_keys","create:client_keys","read:connections","update:connections","delete:connections","create:co[...]
{"request":{"method":"delete","path":"/api/v2/users/auth0%7C6132829e9bb72d00708b7db5","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":null,"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_m[...]
[...]
{"request":{"method":"post","path":"/api/v2/jobs/users-imports","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_a[...]
{"request":{"method":"post","path":"/api/v2/jobs/users-exports","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_a[...]
[...]
{"request":{"method":"delete","path":"/api/v2/emails/provider","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":null,"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_[...]
[...]
{"request":{"method":"post","path":"/api/v2/users","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{"name":"rubytest-210908-username","email":"rubytest-210908-rubytest-210908-username@auth0.com","email_verified":true,"connection":"Username-Password-Authentication"},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_app_metadata","create:users_app_metadata","create:user_tickets","read:clients","update:clients","delete:cli[...]
{"request":{"method":"delete","path":"/api/v2/connections/con_Xx4Kruoab04wvlYX/users","query":{"email":"rubytest-210908-rubytest-210908-username@auth0.com"},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":null,"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users",[...]
{"request":{"method":"patch","path":"/api/v2/connections/con_WltM0fv20JCnxOuY","query":{"email":"rubytest-210908-rubytest-210908-username@auth0.com"},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:u[...]
[...]
{"request":{"method":"patch","path":"/api/v2/clients/SftKo9ySyHnMPezQUFd0C70GBoNFM21F","query":{"fields":"jwt_configuration","include_fields":"false"},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{"sso":true,"custom_login_page_on":false},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":200,"body":{"client_secret":"REDACTED","name":"TestClient-rubytest-210908","description":"Client
        description","client_id":"SftKo9ySyHnMPezQUFd0C70GBoNFM21F","grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"is_token_endpoint_ip_header_trusted":false,"is_first_party":true,"oidc_conformant":false,"jwt_configuration":{"lifetime_in_seconds":36000,"secret_encoded":false},"sso":true,"cross_origin_auth":false,"sso_disabled":false,"custom_login_page_on":false,"refresh_token":{"expiration_type":"non-expiring","leeway":0,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"token_lifetime":2592000,"idle_token_lifetime":1296000,"rotation_type":"non-rotating"}}}},"auth0_client":{"name":"ruby-auth0","version":"5.5.0","env":{"ruby":"2.7.0"}},"log_id":"90020210903201624596410735471249527379056171642582466642","_id":"90020210903201624596410735471249527379056171642582466642","isMobile":false},{"date":"2021-09-03T20:16:23.877Z","type":"sdu","description":"user_id:
        61328297148a95006b37e566","connection":"Username-Password-Authentication","connection_id":"con_Xx4Kruoab04wvlYX","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":{"body":{"tenant":"auth0-sdk-tests","connection":"Username-Password-Authentication"}},"user_id":"","user_name":"","strategy":"auth0","strategy_type":"database","log_id":"90020210903201624336410735471127425871275094027217666130","_id":"90020210903201624336410735471127425871275094027217666130","isMobile":false},{"date":"2021-09-03T20:16:16.508Z","type":"sapi","description":"Delete
        client grant","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":{"request":{"method":"delete","path":"/api/v2/client-grants/cgr_j6Sld05vF0Sxr2Le","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":204,"body":{}}},"auth0_client":{"name":"ruby-auth0","version":"5.5.0","env":{"ruby":"2.7.0"}},"log_id":"90020210903201621549719680396406057465025591932734144562","_id":"90020210903201621549719680396406057465025591932734144562","isMobile":false},{"date":"2021-09-03T20:16:16.933Z","type":"sapi","description":"Delete
        client grant","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":[...]
{"request":{"method":"post","path":"/api/v2/clients","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{"name":"ClientGrantTestClient-rubytest-210908"},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":201,"body":{"client_secret":"REDACTED","name":"ClientGrantTestClient-rubytest-210908","client_id":"qVx7qDuyruWWCfkTrxeNT74FI6mJc4Vy","grant_types":["authorization_[...]
{"request":{"method":"post","path":"/api/v2/connections","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{"strategy":"auth0","name":"TestConnection-rubytest-210908"},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_me[...]
[...]
{"scope":["new:scope"]},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":200,"body":{"client_id":"qVx7qDuyruWWCfkTrxeNT74FI6mJc4Vy","audience":"https://auth0-sdk-tests.auth0.com/api/v2/","scope":["new:scope"]}}},"auth0_client":{"name":"ruby-auth0","version":"5.5.0","env":{"ruby":"2.7.0"}},"log_id":"90020210903201619784782996647923247774962750846557749314","_id":"90020210903201619784782996647923247774962750846557749314","isMobile":false},{"date":"2021-09-03T20:16:14.694Z","type":"sapi","description":"Blacklist
        a token","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":{"request":{"method":"post","path":"/api/v2/blacklists/tokens","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{"jti":"faketoken","aud":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI"},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_app_metadata","create:users_app_metadata","create:user_tickets","read:clients","update:clients","delete:clients","create:clie[...]
[...]
{"request":{"method":"post","path":"/api/v2/client-grants","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{"client_id":"qVx7qDuyruWWCfkTrxeNT74FI6mJc4Vy","audience":"https://auth0-sdk-tests.auth0.com/api/v2/","scope":["test:scope"]},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":201,"body":{"client_id":"qVx7qDuyruWWCfkTrxeNT74FI6mJc4Vy","audience":"https://auth0-sdk-tests.auth0.com/api/v2/","scope":["test:scope"]}}},"auth0_client":{"name":"ruby-auth0","version":"5.5.0","env":{"ruby":"2.7.0"}},"log_id":"90020210903201617285410735467715837208322610015160500306","_id":"90020210903201617285410735467715837208322610015160500306","isMobile":false},{"date":"2021-09-03T20:16:13.482Z","type":"sepft","description":"","connection":"Username-Password-Authentication","connection_id":"con_Xx4Kruoab04wvlYX","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"Ruby
        SDK Integration Tests - DO NOT DELETE","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","client_ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","user_id":"auth0|6132828a407ec6006935a858","user_name":"rubytest-210908-username-1@auth0.com","audience":"https://auth0-sdk-tests.auth0.com/userinfo","scope":"openid
        profile email address phone","auth0_client":{"name":"ruby-auth0","version":"5.5.0","env":{"ruby":"2.7.0"}},"log_id":"90020210903201617112719680381834874561210466215122698290","_id":"90020210903201617112719680381834874561210466215122698290","isMobile":false},{"date":"2021-09-03T20:16:14.470Z","type":"sapi","description":"Delete
        a User","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":[...]
{"request":{"method":"delete","path":"/api/v2/client-grants/cgr_ECbN3qJw9YuMnpHp","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":204,"body":{}}},"auth0_client":{"name":"ruby-auth0","version":"5.5.0","env":{"ruby":"2.7.0"}},"log_id":"90020210903201501097549783150707952320134712008086913122","_id":"90020210903201501097549783150707952320134712008086913122","isMobile":false},{"date":"2021-09-03T20:15:00.450Z","type":"sapi","description":"Delete
        client grant","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":{"request":{"method":"delete","path":"/api/v2/client-grants/cgr_ECbN3qJw9YuMnpHp","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":204,"body":{}}},"auth0_client":{"name":"ruby-auth0","version":"5.5.0","env":{"ruby":"2.7.0"}},"log_id":"90020210903201500706549783150140966110735450925149716578","_id":"90020210903201500706549783150140966110735450925149716578","isMobile":false},{"date":"2021-09-03T20:15:00.230Z","type":"sapi","description":"Delete
        a client","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":{"deleted":true,"request":{"method":"delete","path":"/api/v2/clients/P7nJlNylVKRB2GdTt04KH4GXxIiGAaKr","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":204,"body":{}}},"auth0_client":{"name":"ruby-auth0","version":"5.5.0","env":{"ruby":"2.7.0"}},"log_id":"90020210903201500706549783150139757184915836295975010402","_id":"90020210903201500706549783150139757184915836295975010402","isMobile":false},{"date":"2021-09-03T20:14:59.406Z","type":"sapi","description":"Update
        client grant","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":[...]
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/logs?from=90020210903201457803549783145262950428590422067771342946&take=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://auth0-sdk-tests.auth0.com/api/v2/logs?from=90020210903201459614410735428066697102421611612202860626&take=1>;
        rel="next"
      Ot-Baggage-Auth0-Request-Id:
      - 6891a80c8f783197
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 743c3c2b3024b49f
      Ot-Tracer-Traceid:
      - 6a3047b60bc59912
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700193'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2021-09-03T20:14:58.048Z","type":"sapi","description":"Create
        a client","client_id":"2cnWuug6zaFX1j0ge1P99jAUn0F4XSuI","client_name":"","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","user_agent":"Other
        0.0.0 / Other 0.0.0","details":{"request":{"method":"post","path":"/api/v2/clients","query":{},"userAgent":"rest-client/2.1.0
        (darwin19.6.0 x86_64) ruby/2.7.0p0","body":{"name":"ClientGrantTestClient-rubytest"},"channel":"api","ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":201,"body":{"client_secret":"REDACTED","name":"ClientGrantTestClient-rubytest","client_id":"P7nJlNylVKRB2GdTt04KH4GXxIiGAaKr","grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"is_token_endpoint_ip_header_trusted":false,"is_first_party":true,"oidc_conformant":false,"jwt_configuration":{"lifetime_in_seconds":36000,"secret_encoded":false},"cross_origin_auth":false,"sso_disabled":false,"custom_login_page_on":true,"refresh_token":{"expiration_type":"non-expiring","leeway":0,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"token_lifetime":2592000,"idle_token_lifetime":1296000,"rotation_type":"non-rotating"}}}},"auth0_client":{"name":"ruby-auth0","version":"5.5.0","env":{"ruby":"2.7.0"}},"log_id":"90020210903201459614410735428066697102421611612202860626","_id":"90020210903201459614410735428066697102421611612202860626","isMobile":false}]'
  recorded_at: Fri, 03 Sep 2021 20:16:32 GMT
recorded_with: VCR 6.0.0
