---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/rules
    body:
      encoding: UTF-8
      string: '{"name":"rubytest-210908 - DISABLED","enabled":false,"script":"function
        (user, context, cb) { cb(null, user, context);}","stage":"login_success"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a83689a152a1
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 15aaa2002389d0d1
      Ot-Tracer-Traceid:
      - 4720a9fe6706ce82
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700200'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"rul_bsg64xEPZz4WOkXz","enabled":false,"script":"function (user,
        context, cb) { cb(null, user, context);}","name":"rubytest-210908 - DISABLED","order":40,"stage":"login_success"}'
  recorded_at: Fri, 03 Sep 2021 20:16:39 GMT
recorded_with: VCR 6.0.0
