---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/resource-servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://auth0-sdk-tests.auth0.com/api/v2/resource-servers?page=0&per_page=50>;
        rel="first", <http://auth0-sdk-tests.auth0.com/api/v2/resource-servers?page=0&per_page=50>;
        rel="last"
      Ot-Baggage-Auth0-Request-Id:
      - 6891a8177fca52bf
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 703903ba384f9ebe
      Ot-Tracer-Traceid:
      - 45f0017a170e986b
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700195'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5a26a8581b937a5d15410049","name":"Auth0 Management API","identifier":"https://auth0-sdk-tests.auth0.com/api/v2/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"description":"Read
        Client Grants","value":"read:client_grants"},{"description":"Create Client
        Grants","value":"create:client_grants"},{"description":"Delete Client Grants","value":"delete:client_grants"},{"description":"Update
        Client Grants","value":"update:client_grants"},{"description":"Read Users","value":"read:users"},{"description":"Update
        Users","value":"update:users"},{"description":"Delete Users","value":"delete:users"},{"description":"Create
        Users","value":"create:users"},{"description":"Read Use[...]
