---
http_interactions:
- request:
    method: patch
    uri: https://auth0-sdk-tests.auth0.com/api/v2/connections/con_WltM0fv20JCnxOuY?email=rubytest-210908-rubytest-210908-username@auth0.com
    body:
      encoding: UTF-8
      string: '{"options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"excellent","strategy_version":2,"brute_force_protection":true}}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7cd0c0852a1
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 6ae91aa621a42701
      Ot-Tracer-Traceid:
      - 0d7d8cee34fd8135
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700183'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"con_WltM0fv20JCnxOuY","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"excellent","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"TestConnection-rubytest-210908","is_domain_connection":false,"enabled_clients":[],"realms":["TestConnection-rubytest-210908"]}'
  recorded_at: Fri, 03 Sep 2021 20:16:22 GMT
recorded_with: VCR 6.0.0
