---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users?fields=email&include_fields=false&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a866dd1436dd
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 6198b5176797e96e
      Ot-Tracer-Traceid:
      - 5a1759f44e99071b
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700208'
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"2021-09-03T07:07:20.288Z","email_verified":false,"identities":[{"user_id":"6131c9a8460fa0006a17e4b8","provider":"auth0","connection":"Username-Password-Authentication","isSocial":false}],"name":"rubytest-210903-username-1@auth0.com","nickname":"rubytest-210903-username-1","picture":"https://s.gravatar.com/avatar/fdd07a60850553d36e9a6360bea6fe72?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fru.png","updated_at":"2021-09-03T07:08:20.562Z","user_id":"auth0|6131c9a8460fa0006a17e4b8","last_login":"2021-09-03T07:08:20.562Z","last_ip":"2603:9008:1a05:f179:b872:5281:13d6:5758","logins_count":3}]'
  recorded_at: Fri, 03 Sep 2021 20:16:47 GMT
recorded_with: VCR 6.0.0
