---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/emails/provider
    body:
      encoding: UTF-8
      string: '{"name":"mandrill","enabled":true,"credentials":{"api_key":"api_key"},"settings":{"first_setting":"first_setting_set","second_setting":"second_setting_set"}}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7d75a655301
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 22ac08ac3f9ef22d
      Ot-Tracer-Traceid:
      - 7f33967308eb590b
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":400,"error":"Bad Request","message":"Payload validation
        error: ''Additional properties not allowed: second_setting,first_setting''
        on property settings (Specific provider setting).","errorCode":"invalid_body"}'
  recorded_at: Fri, 03 Sep 2021 20:16:24 GMT
recorded_with: VCR 6.0.0
