---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/emails/provider?fields=enabled&include_fields=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7db2d7131a9
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 25024cae34589261
      Ot-Tracer-Traceid:
      - 52a2344221986d73
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":404,"error":"Not Found","message":"There is not a configured
        email provider","errorCode":"inexistent_email_provider"}'
  recorded_at: Fri, 03 Sep 2021 20:16:24 GMT
recorded_with: VCR 6.0.0
