---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/jobs/users-exports
    body:
      encoding: UTF-8
      string: '{"connection_id":"con_Xx4Kruoab04wvlYX"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7f0fa2d52fb
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 6c883ee81220bb50
      Ot-Tracer-Traceid:
      - 36110f9c29145a75
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700189'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"users_export","status":"pending","connection_id":"con_Xx4Kruoab04wvlYX","format":"csv","connection":"Username-Password-Authentication","created_at":"2021-09-03T20:16:28.389Z","id":"job_YrcUK95yky3F5koC"}'
  recorded_at: Fri, 03 Sep 2021 20:16:28 GMT
recorded_with: VCR 6.0.0
