---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"byron.schaden","email":"rubytest-210908byron_schaden@example.org","password":"WbNpNwM12e0Xw9S","connection":"Username-Password-Authentication"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7f53b9f42cb
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 35a5a4bf44c48c8b
      Ot-Tracer-Traceid:
      - 5ee117d134415da8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700190'
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-09-03T20:16:29.160Z","email":"rubytest-210908byron_schaden@example.org","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6132829d7b569700698af981","provider":"auth0","isSocial":false}],"name":"byron.schaden","nickname":"rubytest-210908byron_schaden","picture":"https://s.gravatar.com/avatar/32658f9d62513c10242821f682c242c8?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fby.png","updated_at":"2021-09-03T20:16:29.160Z","user_id":"auth0|6132829d7b569700698af981"}'
  recorded_at: Fri, 03 Sep 2021 20:16:29 GMT
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/jobs/verification-email
    body:
      encoding: UTF-8
      string: '{"user_id":"auth0|6132829d7b569700698af981"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7f759e2eb1d
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 2161491e662b75e3
      Ot-Tracer-Traceid:
      - 19f9b57f487b7ddb
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700190'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"verification_email","status":"pending","created_at":"2021-09-03T20:16:29.429Z","id":"job_ZdcjPTygi5CiOf4Y"}'
  recorded_at: Fri, 03 Sep 2021 20:16:29 GMT
recorded_with: VCR 6.0.0
