---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"quintin","email":"rubytest-210908quintin@example.org","password":"CkQnH8d2C","connection":"Username-Password-Authentication"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7fd6e8c366c
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 79f3b16019a654ae
      Ot-Tracer-Traceid:
      - '01943c53370b9888'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700191'
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-09-03T20:16:30.504Z","email":"rubytest-210908quintin@example.org","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6132829e9bb72d00708b7db5","provider":"auth0","isSocial":false}],"name":"quintin","nickname":"rubytest-210908quintin","picture":"https://s.gravatar.com/avatar/5d20473f424951be92de8850ff465f1f?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fqu.png","updated_at":"2021-09-03T20:16:30.504Z","user_id":"auth0|6132829e9bb72d00708b7db5"}'
  recorded_at: Fri, 03 Sep 2021 20:16:30 GMT
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/jobs/verification-email
    body:
      encoding: UTF-8
      string: '{"user_id":"auth0|6132829e9bb72d00708b7db5","client_id":"#<Random:0x00007fd199de72c8>"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7ff6bac5367
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 6846b9176d237171
      Ot-Tracer-Traceid:
      - 2bb4907f37f05943
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":400,"error":"Bad Request","message":"Payload validation
        error: ''Object didn''t pass validation for format client-id: #<Random:0x00007fd199de72c8>''
        on property client_id (client_id of the client (application). If no value
        provided, the global Client ID will be used).","errorCode":"invalid_body"}'
  recorded_at: Fri, 03 Sep 2021 20:16:30 GMT
recorded_with: VCR 6.0.0
