---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"name":"herbert","email":"rubytest-210908herbert@example.net","password":"5Z96yMeKjNeMz","connection":"Username-Password-Authentication"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7f8de735263
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 601514ae415b5cf0
      Ot-Tracer-Traceid:
      - 6f96f0dd59062fb9
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700190'
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2021-09-03T20:16:29.747Z","email":"rubytest-210908herbert@example.net","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6132829d2f7d3d006a216aad","provider":"auth0","isSocial":false}],"name":"herbert","nickname":"rubytest-210908herbert","picture":"https://s.gravatar.com/avatar/cd0b06c3c11c846ad51bc8f7ee15ee70?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fhe.png","updated_at":"2021-09-03T20:16:29.747Z","user_id":"auth0|6132829d2f7d3d006a216aad"}'
  recorded_at: Fri, 03 Sep 2021 20:16:29 GMT
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/jobs/verification-email
    body:
      encoding: UTF-8
      string: '{"user_id":"auth0|6132829d2f7d3d006a216aad"}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7faa9dd05a6
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 7b706ef3435beec0
      Ot-Tracer-Traceid:
      - 5b07b4d458b05499
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700190'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"verification_email","status":"pending","created_at":"2021-09-03T20:16:29.950Z","id":"job_3vaIcVXpbGykPMcO"}'
  recorded_at: Fri, 03 Sep 2021 20:16:29 GMT
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/jobs/job_3vaIcVXpbGykPMcO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7fc299ceb9d
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 111ccec40ede7b1e
      Ot-Tracer-Traceid:
      - 1e7560486e053caa
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700191'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"verification_email","status":"completed","created_at":"2021-09-03T20:16:29.950Z","id":"job_3vaIcVXpbGykPMcO"}'
  recorded_at: Fri, 03 Sep 2021 20:16:30 GMT
recorded_with: VCR 6.0.0
