---
http_interactions:
- request:
    method: post
    uri: https://auth0-sdk-tests.auth0.com/api/v2/users/auth0%7C613282adac819400692c0dd9/permissions
    body:
      encoding: UTF-8
      string: '{"permissions":[{"permission_name":"rubytest-210908-test-permission-for-users","resource_server_identifier":"rubytest-210908-test-api-for-users"}]}'
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a87c7bf23673
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 32073f5f5eb032b2
      Ot-Tracer-Traceid:
      - 57706f5e353a1c41
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":404,"error":"Not Found","message":"This permission does
        not exist: ''rubytest-210908-test-api-for-users - rubytest-210908-test-permission-for-users''","errorCode":"inexistent_resource_server_permission"}'
  recorded_at: Fri, 03 Sep 2021 20:16:50 GMT
recorded_with: VCR 6.0.0
