---
http_interactions:
- request:
    method: get
    uri: https://auth0-sdk-tests.auth0.com/api/v2/connections/con_WltM0fv20JCnxOuY?fields=name,id&include_fields=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth0-Client:
      - eyJuYW1lIjoicnVieS1hdXRoMCIsInZlcnNpb24iOiI1LjUuMCIsImVudiI6eyJydWJ5IjoiMi43LjAifX0=
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ot-Baggage-Auth0-Request-Id:
      - 6891a7c26d540507
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 256b833d4015237a
      Ot-Tracer-Traceid:
      - 61239fc32610a5bd
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1630700181'
    body:
      encoding: ASCII-8BIT
      string: '{"options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","is_domain_connection":false,"enabled_clients":[],"realms":["TestConnection-rubytest-210908"]}'
  recorded_at: Fri, 03 Sep 2021 20:16:20 GMT
recorded_with: VCR 6.0.0
