name: Create Release

on:
  pull_request:
    types:
      - closed
  workflow_dispatch:
  push:
    branches:
      - 'adding_reversing_labs_scanner'

permissions:
  contents: write
  id-token: write # This is required for requesting the JWT

### TODO: Replace instances of './.github/workflow/' w/ `auth0/dx-sdk-actions/` and append `@latest` after the common `dx-sdk-actions` repo is made public.
### TODO: Also remove `get-prerelease`, `get-version`, `rubygems-publish`, `release-create`, `tag-create` and `tag-exists` actions from this repo's .github/actions folder and `ruby-release` from `./github/workflows` once the repo is public.

jobs:
  rl-scanner:
    uses: ./.github/workflows/rl-scanner.yml
    with:
      ruby-version: 3.2
    secrets:
      RLSECURE_LICENSE: ${{ secrets.RLSECURE_LICENSE }}
      RLSECURE_SITE_KEY: ${{ secrets.RLSECURE_SITE_KEY }}
      SIGNAL_HANDLER_TOKEN: ${{ secrets.SIGNAL_HANDLER_TOKEN }}
      PRODSEC_TOOLS_USER: ${{ secrets.PRODSEC_TOOLS_USER }}
      PRODSEC_TOOLS_TOKEN: ${{ secrets.PRODSEC_TOOLS_TOKEN }}
      PRODSEC_TOOLS_ARN: ${{ secrets.PRODSEC_TOOLS_ARN }}

  release:
    uses: ./.github/workflows/ruby-release.yml
    needs: rl-scanner
    with:
      ruby-version: 3.2
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      rubygems-token: ${{ secrets.RUBYGEMS_AUTH_TOKEN }}
