name: Build and Test

on:
  merge_group:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

env:
  CACHE_KEY: "${{ github.ref }}-${{ github.run_id }}-${{ github.run_attempt }}"

jobs:
  configure:
    name: Configure Build Matrix
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}

      - id: set-matrix
        run: echo "matrix=$(jq -c . < ./.github/workflows/matrix.json)" >> $GITHUB_OUTPUT

  unit:
    needs: configure

    name: Run Unit Tests
    runs-on: ubuntu-latest

    strategy:
      matrix: ${{ fromJson(needs.configure.outputs.matrix) }}

    env:
      DOMAIN: example.auth0.dev
      CLIENT_ID: example-client
      CLIENT_SECRET: example-secret
      MASTER_JWT: example-jwt
      BUNDLE_PATH: vendor/bundle

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure Ruby
        uses: ./.github/actions/setup
        with:
          ruby: ${{ matrix.ruby }}

      - name: Run tests
        run: bundle exec rake test

      - name: Upload coverage
        if: matrix.ruby == '3.2' || matrix.ruby == '3.3'
        uses: codecov/codecov-action@5a605bd92782ce0810fa3b8acc235c921b497052 # pin@5.2.0
